.body {
    width: 100%;
    height: calc(100vh - 64px);
}

.wrapper-fragment {
    height: 100%;
    padding: 0 120px;
    width: 1270px;
    margin: 0 auto;
}

.row-items {
    height: calc(100% - 20px);
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
    background: #fff;
    background-color: rgba(244, 186, 186, 0.5);
}
.items-bar {
    padding-top: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 200px;
    border-radius: 4px;
    height: fit-content;
    flex-wrap: nowrap;
    background: #fff;
}
.items-product {
    overflow-y: auto;
    display: flex;
    padding-bottom: 20px;
    margin-top: 20px;
    gap: 8px;
    flex-wrap: wrap;
}
.items-pagination {
    text-align: center;
    margin-top: 5px;
}
