.wrapper-header {
    font-size: 14px;
}
.wrapper-content {
    margin-top: 10px;
}
.wrapper-button {
    height: 150px;
    width: 150px;
    border-radius: 6px;
    border-style: dashed;
}
.wrapper-icon {
    font-size: 50px;
}
.wrapper-table {
    margin-top: 30px;
}
.sate-products {
    margin-left: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
