.cartComponent {
    width: 200px;
    padding: 10px;
}

.office-img {
    width: 89px !important;
    height: 20px !important;
    opacity: 1;
    position: absolute;
    bottom: 125px;
    left: 5px;
    border-top-left-radius: 5px;
}
