.wrapper-header {
    width: 100%;
    background: rgba(244, 186, 186, 0.5);
    display: flex;
    justify-content: center;
}
.wrapper-content-popup {
    cursor: pointer;
    &:hover {
        color: rgba(244, 186, 186, 1);
    }
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
