.wrapper-header {
    width: 100%;
    background: rgba(244, 186, 186, 0.5);
    display: flex;
    justify-content: center;
}
.wrapper-content-popup {
    cursor: pointer;
    &:hover {
        background-color: rgba(244, 186, 186, 0.5);
        color: #fff;
    }
}
