.checkbox-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.items-icon {
    display: flex;
}
.icon-rate {
    font-size: 12px;
}
.items-price {
    border-radius: 10px;
    width: fit-content;
    padding: 4px;
    background-color: rgb(238, 238, 238);
    color: rgb(56, 56, 61);
}
