// ReloadZaloPaySuccessPage.module.scss

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; // Chiều cao 100% màn hình
    background-color: #f5f5f5; // Màu nền nhẹ nhàng

    div {
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }
}
